mixin stats( data, keys = undefined )
  - keys ||= Object.keys( data )
  -
    var fields = {
      orderCount: 'number',
      customerCount: 'number',
      totalRevenue: 'money',
      shippingRevenue: 'money',
      pickupRevenue: 'money',
      totalShipping: 'money',
      totalFees: 'money',
      totalRefund: 'money',
      totalProfit: 'money',
      totalItems: 'number',
      averageRevenue: 'money',
      averageShipping: 'money',
      averageFees: 'money',
      averageRefund: 'money',
      averageProfit: 'money',
      averageItems: 'number',
      averageItemPrice: 'money',
      profitMargin: 'pct'
    }

  if keys
    div.stats-grid
      each key in keys
        if key in fields
          div.box.stats-box
            h3= t( 'generic.stats.' + key )
            strong!= '<' + fields[ key ] + '>' + data[ key ] + '</' + fields[ key ] + '>'
