mixin stats( data, keys = undefined )
  - keys ||= Object.keys( data )
  -
    var fields = {
      orderCount: { label: 'Bestellungen', el: 'number' },
      customerCount: { label: 'Kunden', el: 'number' },
      totalRevenue: { label: 'Gesamtumsatz', el: 'money' },
      shippingRevenue: { label: 'Umsatz (Versand)', el: 'money' },
      pickupRevenue: { label: 'Umsatz (Abholung)', el: 'money' },
      totalShipping: { label: 'Versandkosten', el: 'money' },
      totalFees: { label: 'Gebühren', el: 'money' },
      totalRefund: { label: 'Erstattungen', el: 'money' },
      totalProfit: { label: 'Gesamtgewinn', el: 'money' },
      totalItems: { label: 'Artikelanzahl', el: 'number' },
      averageRevenue: { label: 'Ø Umsatz', el: 'money' },
      averageShipping: { label: 'Ø Versand', el: 'money' },
      averageFees: { label: 'Ø Gebühren', el: 'money' },
      averageRefund: { label: 'Ø Rückerstattung', el: 'money' },
      averageProfit: { label: 'Ø Gewinn', el: 'money' },
      averageItems: { label: 'Ø Artikel', el: 'number' },
      averageItemPrice: { label: 'Ø Artikelpreis', el: 'money' },
      profitMargin: { label: 'Gewinnmarge', el: 'pct' }
    }

  if keys
    div.stats-grid
      each key in keys
        if key in fields
          div.box.stats-box
            h3= fields[ key ].label
            strong!= '<' + fields[ key ].el + '>' + data[ key ] + '</' + fields[ key ].el + '>'
