doctype html
html( lang= lang, currency= currency )
  head
    meta( charset= "UTF-8" )
    meta( name= "viewport", content= "width=device-width, initial-scale=1.0" )
    meta( name= "theme-color", content= "#ffffff" )
    link( rel= "icon", href= "/images/favicon.ico", sizes= "256x256", type= "image/x-icon" )
    link( rel= "icon", href= "/images/favicon.svg", sizes= "any", type= "image/svg+xml" )

    block title
      title eBay Sales Manager

    link( rel= "stylesheet", href= "/css/global.min.css" )

    block scripts
    block styles

  body.esm
    block content
