extends ./_base

block title
  title= title + ' — eBay Sales Manager'

block styles
  link( rel= "stylesheet", href= "/css/layout.min.css" )

block content
  header#header.header
    h1= title + ' — eBay Sales Manager'
    a.logout( href= "/logout", title= "Logout" )
      img( src= "/images/icons/logout.svg", alt= "Logout" )

  nav#nav.nav
    img.logo( src= "/images/favicon.svg", alt= "eBay Sales Manager" )
    a( href= "/dashboard", title= "Dashboard" )
      img( src= "/images/icons/app.svg", alt= "Dashboard" )

  div.wrapper
    main#main.main
      block main

    footer#footer.footer
      span Copyright &copy; 2025 <a href= "https://komed3.de" target="_blank">komed3</a>. Alle Rechte vorbehalten.
