extends ./_base

block title
  title= title + ' — eBay Sales Manager'

block content
  header#header.header
    h1= title + ' — eBay Sales Manager'

  nav#nav.nav
    img.logo( src= "/images/favicon.svg", alt= "eBay Sales Manager" )

  main#main.main
    block main

  footer#footer.footer
    span Copyright &copy; 2025 <a href= "https://komed3.de" target="_blank">komed3</a>. Alle Rechte vorbehalten.
