extends ./_base

block title
  title= title + ' — eBay Sales Manager'

block styles
  link( rel= "stylesheet", href= "/css/layout.min.css" )

block content
  header#header.header
    h1= title + ' — eBay Sales Manager'
    a.logout( href= "/logout", title= "Logout" )
      img( src= "/images/icons/logout.svg", alt= "Logout" )

  nav#nav.nav
    img.logo( src= "/images/favicon.svg", alt= "eBay Sales Manager" )
    -
      var nav = [
        { path: '/', label: 'Dashboard', icon: 'app.svg' },
        { path: '/new', label: 'Hinzufügen', icon: 'add.svg' },
        { path: '/orders', label: 'Bestellungen', icon: 'table.svg' },
        { path: '/stats', label: 'Statistik', icon: 'chart.svg' },
        { path: '/map', label: 'Karte', icon: 'map.svg' },
        { path: '/reports', label: 'Reporte & Export', icon: 'database.svg' }
      ]
    each item in nav
      a( href= item.path, title= item.label )
        img( src= '/images/icons/' + item.icon, alt= item.label )

  div.wrapper
    main#main.main
      block main

    footer#footer.footer
      span Copyright &copy; 2025 <a href= "https://komed3.de" target="_blank">komed3</a>. Alle Rechte vorbehalten.
