extends ./_base
include ./mixin/nav

block title
  title= t( 'generic.title', { site: title } )

block scripts
  script( src= "/js/global.min.js", defer )

block styles
  link( rel= "stylesheet", href= "/css/layout.min.css" )

block content
  header#header.header.noselect
    h1= t( 'generic.title', { site: title } )
    div.header-actions
      +icon_nav( [
        { path: '/settings', label: t( 'settings._meta.title' ), icon: 'settings.svg' },
        { path: '/logout', label: t( 'auth.action.logout' ), icon: 'logout.svg' }
      ] )

  nav#nav.nav.noselect
    img.logo( src= "/images/favicon.svg", alt= "eBay Sales Manager" )
    +icon_nav( [
      { path: '/', label: t( 'dashboard._meta.title' ), icon: 'app.svg' },
      { path: '/orders', label: t( 'orders._meta.title' ), icon: 'table.svg' },
      { path: '/form', label: t( 'form._meta.title' ), icon: 'add.svg' },
      { path: '/customers', label: t( 'customers._meta.title' ), icon: 'user.svg' },
      { path: '/stats', label: t( 'stats._meta.title' ), icon: 'chart.svg' },
      { path: '/map', label: t( 'map._meta.title' ), icon: 'map.svg' },
      { path: '/report', label: t( 'report._meta.title' ), icon: 'database.svg' }
    ] )

  div.wrapper
    main#main.main
      block main

    footer#footer.footer.noselect
      span!= t( 'generic.credits' )
