extends ./_layout

block main
  div.column
    div.box
      h3 Stammdaten
      div.box-col
        div.box-row
          span Benutzername:
          strong= data.data.nick
        div.box-row
          span Name:
          strong= data.data.name
        div.box-row
          span E-Mail:
          strong= data.data.mail
        if data.data.tel
          div.box-row
            span Telefon:
            strong= data.data.tel

    div.box
      h3 Umsatz
      div.box-col
        div.box-row
          span Anzahl d. Bestellungen:
          strong: number= data.stats.orderCount
        div.box-row
          span Bestellte Artikel:
          strong: number= data.stats.itemCount
        div.box-row
          span Gesamtumsatz:
          strong: money= data.stats.totalRevenue
        div.box-row
          span Rückerstattung:
          strong: money= data.stats.totalRefund
        div.box-row
          span Gewinn:
          strong: money= data.stats.totalProfit
        div.box-row
          span Gewinnmarge:
          strong: pct= data.stats.profitMargin
