extends ./_layout
include ./mixin/pagination
include ./mixin/table

block main
  form.box( method= "GET", action= "/customers" )
    div.box-row
      img( src= "/images/icons/filter.svg", alt= "Filter" )
      input(
        type= "text", name= "search", value= query && query.search
        placeholder= t( 'generic.filter.search' )
      )
      button.icon( type= "submit", title= t( 'generic.filter.filter' ) )
        img( src= "/images/icons/search.svg", alt= t( 'generic.filter.filter' ) )
      a( href= "/customers", title= t( 'generic.filter.clear' ) )
        img( src= "/images/icons/clear.svg", alt= t( 'generic.filter.clear' ) )

  div.box
    table#customers
      +table_header( [
        { label: t( 'customers.table.nick' ), sort: 'data.nick' },
        { label: t( 'customers.table.name' ), sort: 'data.name' },
        { label: t( 'customers.table.count' ), sort: 'stats.orderCount', class: 'right' },
        { label: t( 'customers.table.revenue' ), sort: 'stats.totalRevenue', class: 'right' },
        { label: t( 'customers.table.profit' ), sort: 'stats.totalProfit', class: 'right' },
        { label: t( 'customers.table.margin' ), sort: 'stats.profitMargin', class: 'right' }
      ], query, 'data.nick', 'asc' )
      tbody
        each customer in data
          tr
            td: a(
              href= '/customer?nick=' + customer.data.nick
            )= '@' + customer.data.nick
            td= customer.data.name || '—'
            td.right: number= customer.stats.orderCount
            td.right: money= customer.stats.totalRevenue
            td.right: money= customer.stats.totalProfit
            td.right: pct= customer.stats.profitMargin

  if pagination
    +pagination( query, pagination.max, pagination.limit, pagination.offset )
