extends ./_layout
include ./mixin/chart
include ./mixin/nav
include ./mixin/stats

append scripts
  script( src= "https://cdn.jsdelivr.net/npm/chart.js" )
  script( src= "/js/chart.min.js", defer ) 

append styles
  link( rel= "stylesheet", href= "/css/stats.min.css" )
  link( rel= "stylesheet", href= "/css/dashboard.min.css" )

block main
  +stats( stats, [
    'orderCount', 'totalRevenue', 'totalProfit', 'averageProfit',
    'profitMargin', 'customerCount'
  ] )

  div.column
    div.box
      h3= t( 'generic.name' )
      p= t( 'dashboard.intro.first' )
      p= t( 'dashboard.intro.second' )
      div.box-col.dashboard-links
        +text_nav( [
          { path: '/orders', label: t( 'orders._meta.title' ), icon: 'table.svg' },
          { path: '/form', label: t( 'form._meta.title' ), icon: 'add.svg' },
          { path: '/customers', label: t( 'customers._meta.title' ), icon: 'user.svg' },
          { path: '/stats', label: t( 'stats._meta.title' ), icon: 'chart.svg' },
          { path: '/map', label: t( 'map._meta.title' ), icon: 'map.svg' },
          { path: '/report', label: t( 'report._meta.title' ), icon: 'database.svg' }
        ] )

    div.box
      h3= t( 'generic.stats.profitMargin' )
      +chart( 'margin', stats )
