extends ./_layout
include ./mixin/stats

append styles
  link( rel= "stylesheet", href= "/css/stats.min.css" )

block main
  +stats( stats, [
    'orderCount', 'totalRevenue', 'totalProfit',
    'averageProfit', 'customerCount', 'averageFees'
  ] )
