extends ./_layout
include ./mixin/nav
include ./mixin/stats

append styles
  link( rel= "stylesheet", href= "/css/stats.min.css" )
  link( rel= "stylesheet", href= "/css/dashboard.min.css" )

block main
  +stats( stats, [
    'orderCount', 'totalRevenue', 'totalProfit', 'averageProfit',
    'profitMargin', 'customerCount'
  ] )

  div.column
    div.box.dashboard-links
      h3 eBay Sales Manager
      p
       | Verwaltung von eBay Bestellungen, Erfassung von Umsätzen, Profiten und Kundendaten.
       | Unterstützt den Export von Reporten und Statistiken, generiert detaillierte Umsatzdaten
       | und eine Kartenansicht aller Kundenstandorte.
      div.box-col
        +text_nav( [
          { path: '/orders', label: 'Bestellungen', icon: 'table.svg' },
          { path: '/form', label: 'Neue Bestellung', icon: 'add.svg' },
          { path: '/stats', label: 'Umsatz & Statistik', icon: 'chart.svg' },
          { path: '/commission', label: 'Kommissionierung', icon: 'users.svg' },
          { path: '/map', label: 'Karte', icon: 'map.svg' },
          { path: '/reports', label: 'Reporte & Export', icon: 'database.svg' }
        ] )
