extends ./_layout
include ./mixin/chart
include ./mixin/nav
include ./mixin/stats

append scripts
  script( src= "https://cdn.jsdelivr.net/npm/chart.js" )
  script( src= "/js/chart.min.js", defer ) 

append styles
  link( rel= "stylesheet", href= "/css/stats.min.css" )
  link( rel= "stylesheet", href= "/css/dashboard.min.css" )

block main
  +stats( stats, [
    'orderCount', 'totalRevenue', 'totalProfit', 'averageProfit',
    'profitMargin', 'customerCount'
  ] )

  div.column
    div.box
      h3 eBay Sales Manager
      p
       | Verwaltung von privaten eBay Bestellungen hilft bei der Erfassung von Umsätzen,
       | Profiten und Kundendaten. Unterstützt werden der Export von Reporten und Statistiken,
       | Einblick in detaillierte Umsatzdaten und eine Kartenansicht aller Kundenstandorte.
      p
       | Neue Bestellungen können schnell und einfach über das Formular erfasst werden.
       | Berichte und Statistiken helfen dabei, den Überblick über Verkäufe und Gewinne zu
       | behalten und werden vom System automatisch generiert. Eine filterbare Liste aller
       | Bestellungen erleichtert die Verwaltung und Nachverfolgung von Verkäufen, über die
       | Kartenansicht werden Bestellungen nach Standort visualisiert.
      div.box-col.dashboard-links
        +text_nav( [
          { path: '/form', label: 'Neue Bestellung', icon: 'add.svg' },
          { path: '/orders', label: 'Bestellungen', icon: 'table.svg' },
          { path: '/stats', label: 'Umsatz & Statistik', icon: 'chart.svg' },
          { path: '/map', label: 'Karte', icon: 'map.svg' },
          { path: '/report', label: 'Finanzberichte', icon: 'database.svg' }
        ] )

    div.box
      h3 Gewinnmarge
      +chart( 'margin', stats )
