extends ./_base

block title
  title Login — eBay Sales Manager

block styles
  link( rel= "stylesheet", href= "/css/login.min.css" )

block content
  if error
    div.login-error.noselect
      span= error

  div.login-container.noselect
    h2
      img( src= "/images/favicon.svg", alt= "eBay Sales Manager" )
      span eBay Sales Manager
    form( method= "POST" action= "/login" )
      label( for="username" ) Benutzername
      input( type="text" id="username" name="username" required )
      label( for="password" ) Passwort
      input( type="password" id="password" name="password" required )
      button( type="submit" ) Anmelden

  div.login-credits Copyright &copy; 2025 <a href= "https://komed3.de" target="_blank">komed3</a>. Alle Rechte vorbehalten.
