doctype html
html( lang= "de" )
  head
    meta( charset= "UTF-8" )
    meta( name= "viewport", content= "width=device-width, initial-scale=1.0" )
    title eBay Sales Manager - Login
    link( rel= "stylesheet", href= "/css/global.css" )
    link( rel= "stylesheet", href= "/css/login.css" )

  body 
    div.login-container
      h2 Login
      form( method= "POST" action= "/login" )
        label( for="username" ) Benutzername
        input( type="text" id="username" name="username" required )
        label( for="password" ) Passwort
        input( type="password" id="password" name="password" required )
        button( type="submit" ) Anmelden

    div.login-credits Copyright &copy; 2025 <a href= "https://komed3.de" target="_blank">komed3</a>. Alle Rechte vorbehalten.
