extends ./_layout

block main
  div.box

  div.box
    table#orders
      thead
        tr
          th Bestellnummer
          th Datum
          th Kunde
          th Lieferung
          th.right Umsatz
          th.right Gebühren
          th.right Versand
          th.right Gewinn
      tbody
        each order in data
          tr
            td: a(
              href= '/order?uuid=' + order.__uuid
            ): number= order.orderNumber
            td: date= order.orderDate
            td= order.customer.name + ' (@' + order.customer.nick + ')'
            td= { shipping: 'Versand', pickup: 'Abholung' }[ order.orderType ]
            td.right: money= order.revenue
            td.right: money= order.fees
            td.right: money= order.shipping
            td.right: b: money= order.profit
