extends ./_layout
include ./mixin/chart
include ./mixin/nav

append scripts
  script( src= "https://cdn.jsdelivr.net/npm/chart.js" )
  script( src= "https://cdn.jsdelivr.net/npm/chartjs-chart-sankey" )
  script( src= "/js/chart.min.js", defer )

block main
  div.box
    h3 Finanzbericht
    div.box-col
      +chart( 'flow', report.data )
      div.box-row
        span Bericht:
        select( onchange= "location.href='/report?month='+this.value" )
          each item in list
            option( value= item, selected= ( item === report.name ) )= item.replace( '-', ' / ' )
        +icon_nav( [
          { path: '/export?report=' + report.name, label: 'Exportieren', icon: 'download.svg' }
        ] )

  div.box
    h3 Rechnungen in diesem Bericht
    table
      thead
        tr
          th Bestellnummer
          th Datum
          th Typ
          th.right Umsatz
          th.right Gebühren
          th.right Versand
          th.right Erstattung
          th.right Gewinn
          th.right Marge
      tbody
        - var total = { revenue: 0, fees: 0, shipping: 0, refund: 0, profit: 0 }
        each order in report.data
          - total.revenue += order.revenue
          - total.fees += order.fees
          - total.shipping += order.shipping
          - total.refund += order.refund
          - total.profit += order.profit
          tr
            td: a( href= '/order?uuid=' + order.uuid ): number= order.orderNumber
            td: date= order.orderDate
            td= { shipping: 'Versand', pickup: 'Abholung' }[ order.orderType ]
            td.right: money= order.revenue
            td.right: money= order.fees
            td.right: money= order.shipping
            td.right: money= order.refund
            td.right: b: money= order.profit
            td.right: b: pct= order.profit / order.revenue
      tfoot
        tr
          td( colspan= 3 )
          td.right: money= total.revenue
          td.right: money= total.fees
          td.right: money= total.shipping
          td.right: money= total.refund
          td.right: b: money= total.profit
          td.right: b: pct= total.profit / total.revenue
