extends ./_layout
include ./mixin/calendar
include ./mixin/chart
include ./mixin/stats

append scripts
  script( src= "https://cdn.jsdelivr.net/npm/chart.js" )
  script( src= "/js/chart.min.js", defer ) 

append styles
  link( rel= "stylesheet", href= "/css/calendar.min.css" )
  link( rel= "stylesheet", href= "/css/stats.min.css" )

block main
  h2 Umsatz
    div.actions
      a( href= "/stats?type=monthly", class= ( query.type === 'monthly' ? 'active' : '' ) ) Monatlich
      a( href= "/stats?type=annual", class= ( query.type === 'annual' ? 'active' : '' ) ) Jährlich
  +chart( 'report', reports )
  h2 Statistik
  +stats( stats )
  h2 Kalender
  +calendar( dates )
