@font-face {
    font-family: 'SUSE';
    src: url( '../fonts/SUSE-Regular.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'SUSE';
    font-style: italic;
    src: url( '../fonts/SUSE-Italic.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'SUSE Mono';
    src: url( '../fonts/SUSEMono-Regular.woff2' ) format( 'woff2' );
}

@font-face {
    font-family: 'SUSE Mono';
    font-style: italic;
    src: url( '../fonts/SUSEMono-Italic.woff2' ) format( 'woff2' );
}

:root {
    --text-color: #121212;
    --background-color: #f5f6f7;
    --text-muted: #565758;
    --primary-color: #2f88ff;
    --secondary-color: #1060d6;
    --green: #3bb170;
    --red: #c7473e;
    --font-sans: 'SUSE', sans-serif;
    --font-mono: 'SUSE Mono', monospace;
    --box-border: 1px solid #d5d6d7;
}

*, *::after, *::before {
    box-sizing: border-box;
}

img, .noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    margin: 0;
    font-family: var( --font-sans );
    color: var( --text-color );
    background: var( --background-color );
}

p {
    line-height: 1.6;
    font-size: 1.1em;
}

a, a:link, a:visited {
    text-decoration: none;
    color: var( --primary-color );
}

a:hover, a:focus {
    text-decoration: underline;
    color: var( --secondary-color );
}

input, textarea, select, button {
    width: 100%;
    padding: 12px;
    font-family: var( --font-mono );
    font-size: 1em;
    color: var( --text-color );
    background: var( --background-color );
    border: var( --box-border );
    border-radius: 4px;
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid var( --primary-color );
}

select, button {
    cursor: pointer;
}

button {
    font-family: var( --font-sans );
    font-weight: bold;
    color: #fff;
    background: var( --primary-color );
    border: none;
}

button:hover, button:focus {
    background: var( --secondary-color );
}

button.alert, button.alert:hover, button.alert:focus {
    background: var( --red );
}

button.icon {
    width: 52px;
    height: 52px;
    padding: 10px;
    color: none;
    background: none;
    border: 0;
}

number, money, pct {
    font-family: var( --font-mono );
}
