.header, .nav {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    z-index: 999;
}

.header a, .nav a {
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 10px;
    border-radius: 5px;
}

.header {
    left: 72px;
    right: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 72px;
    border-bottom: var( --box-border );
}

.header h1 {
    margin: 0 12px;
    font-size: 1.4em;
}

.header-actions a {
    padding: 14px;
}

.nav {
    left: 0;
    bottom: 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 72px;
    border-right: var( --box-border );
}

.nav .logo {
    margin-bottom: 22px;
}

.nav a.active {
    background: var( --background-color );
}

.wrapper {
    margin: 72px 0 0 72px;
    padding: 32px;
}

.footer {
    margin: 32px 0;
    font-size: 0.9em;
    color: var( --text-muted );
}
