.login-error {
    margin: 60px auto -60px;
    width: 420px;
    padding: 16px;
    text-align: center;
    color: var( --red );
    background: #fff;
    border: 2px solid var( --red );
    border-radius: 5px;
}

.login-container {
    margin: 100px auto;
    width: 420px;
    padding: 32px;
    background: #fff;
    border: var( --box-border );
    border-radius: 5px;
}

.login-container h2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0 0 32px;
}

.login-container h2 img {
    height: 36px;
    width: 36px;
}

.login-container label {
    display: block;
    margin: 16px 0 6px;
    font-size: 14px;
    font-weight: bold;
}

.login-container button {
    margin-top: 32px;
}

.login-credits {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: var( --text-muted );
}
